/** @format */

:root {
     --green-color: #5fb430;
     --blue-color: #00bffe;
     --white-color: #fff;
     --light-color: #eee;
     --gray-color: #ccc;
}

@font-face {
     src: url('../fonts/iransans.woff2');
     font-family: 'iransans';
}

*:focus {
     outline: none;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

/* some atomic css config */
.d-flex {
     display: flex;
     align-items: center;
}

.flex-between {
     justify-content: space-between;
}

.flex-center {
     justify-content: center;
}

.text-white {
     color: #fff;
}

body {
     overflow-x: hidden;
     font-family: 'iransans';
     direction: rtl;
}

.header {
     position: relative;
     width: 100%;
     height: 100vh;
     background: url('../images/bg-landing.jpg') no-repeat center center/cover fixed;
}

.header__nav {
     width: 80%;
     margin: auto;
     padding-top: 20px;
}

.header__list {
     list-style: none;
}

.header__logo {
     width: 75px;
     transition: 0.6s all;
}

.header__link {
     text-decoration: none;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 13px;
     transition: 0.5s all;
}

.header__list--large {
     width: 75%;
}

.header__userimage {
     height: 40px;
     width: 40px;
     border-radius: 50%;
     box-shadow: 0 0 5px 1px var(--light-color);
     margin-right: 20px;
}

.header__icon {
     font-size: 10px;
     margin-left: 5px;
}

.header__item {
     position: relative;
}

.header__list--large .header__item:nth-child(n + 2):before {
     content: '';
     position: absolute;
     top: -10px;
     right: 0;
     height: 1px;
     width: 0;
     background: var(--blue-color);
     border-radius: 50px;
     transition: 0.2s all;
}

.header__logo:hover {
     transform: scale(1.2);
     filter: blur(2px);
}

.header__list--large .header__item:nth-child(n + 2):hover::before {
     width: 100%;
     box-shadow: 0 0 5px 1px var(--blue-color);
}

.header__list--small .header__link:hover {
     color: var(--blue-color);
}

.header__content {
     width: 100%;
     flex-direction: column;
     position: absolute;
     top: 60%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.header__title {
     font-weight: 100;
     font-size: 26px;
     line-height: 55px;
}

.header__search {
     position: relative;
     margin-top: 25px;
     height: 50px;
     width: 600px;
     background: var(--white-color);
     border-radius: 50px;
     margin-top: 40px;
}

.header__search::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     box-shadow: 0 0 1px 15px rgba(255, 255, 255, 0.1);
     border-radius: 50px;
}

.header__input {
     position: relative;
     z-index: 999;
     width: 100%;
     height: 100%;
     border-radius: 50px;
     border: none;
     padding: 5px 15px;
     font-family: inherit;
     color: #1e2f38;
     font-size: 15px;
}

.header__input::placeholder {
     color: #1e2f38;
}

.header__icon-search {
     position: absolute;
     z-index: 999;
     left: 20px;
     top: 50%;
     transform: translateY(-50%);
     color: var(--blue-color);
     font-size: 17px;
}

.header__status {
     margin-top: 30px;
     width: 600px;
}

.header__status-column {
     flex-direction: column;
}

.header__status-image {
     height: 140px;
     width: 140px;
}

.header__status-value {
     font-size: 18px;
     margin-left: -10px;
}

.header__status-text {
     margin-top: -10px;
     font-size: 15px;
}

.header__status-item {
     width: 200px;
}
